:root {
    --ff1: 'Share Tech Mono', monospace;
    --ff2: 'Monoton', cursive;
    --w: min(750px, 90%);
}
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Share+Tech+Mono&display=swap');
